/* Service custom */
.services .content ul {
  list-style: none;
  padding: 0;
}

.services .content ul li {
  padding: 0 0 10px 30px;
  position: relative;
}

.services .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: var(--color-primary);
}

.services .content p:last-child {
  margin-bottom: 0;
}

/* Acordion custom */

.faq .accordion-body ul {
  list-style: none;
  padding: 0;
}

.faq .accordion-body ul li {
  padding: 0 0 10px 30px;
  position: relative;
}

.faq .accordion-body ul i {
  position: absolute;
  font-size: 15px;
  left: 0;
  top: -3px;
  color: var(--color-primary);
}

.faq .accordion-body p {
  font-size: 14px;
}

@media (max-width: 400px) {
  .about-text p {
    text-align: justify;
  }

  .about-us {
    flex-direction: row-reverse !important;
  }
}

/* testimonials */
.testimonials .testimonial-item.galeri {
  box-sizing: content-box;
  padding: 15px;
  padding-bottom: 20px;
  margin: 30px 10px;
  box-shadow: 0px 0 15px rgba(0, 0, 0, 0.1);
  position: relative;
  background: #fff;
  border-radius: 10px;
}

.text-justify {
  text-align: justify;
}

.scroll-whatsapp {
  position: fixed;
  visibility: visible;
  opacity: 0;
  right: 15px;
  bottom: -70px;
  z-index: 99999;
  background: #128c7e;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  transition: all 0.4s;
}

.scroll-whatsapp i {
  font-size: 20px;
  color: #fff;
  line-height: 0;
}

.scroll-whatsapp:hover {
  background: #25d366;
  color: #fff;
}

.scroll-whatsapp.active {
  visibility: visible;
  opacity: 1;
  bottom: 70px;
}
